@import "variables/colors";
@import "variables/sizing";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $color-black;
  font-family: 'Century Schoolbook Monospace', monospace;
  margin: 0;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }

  .header {
    font-size: 0;
  }

  .code {
    font-size: $font-size-base;
    &.class {
      color: $color-primary;
    }
    &.punctuation {
      color: $color-white;
    }
    &.method {
      color: $color-secondary;
    }
    &.parens {
      color: $color-tertiary;
    }
  }
}

